@page
@model TV_Show_Ratings_Core_Web_App.Pages.TVShows.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Shows</h1>

<p>
    <a class="btn btn-info" asp-page="Create">+ Add Show</a>
</p>
<table class="table table-striped table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TVShow[0].ShowName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TVShow[0].TvChannel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TVShow) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShowName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TvChannel.ChannelName)
            </td>
            <td>
                <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-info" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
